.header {
  z-index: 99;
  position: relative;

  &__content {
    max-width: 73.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.19rem 1.5rem 2.13rem 1.5rem;
    margin: 0 auto;

    border-bottom: 0.06rem solid hsl(219, 35%, 92%);

    @media (min-width: 62.5rem) {
      padding: 1.75rem 2.06rem 2.13rem 2.06rem;
    }
  }

  &__container {
    display: flex;
    align-items: center;

    &--one {
      gap: 1rem;
    }

    &--two {
      gap: 1.38rem;
    }

    @media (min-width: 62.5rem) {
      &--one {
        flex-direction: row-reverse;
        gap: 3.53rem;
      }

      &--two {
        gap: 2.88rem;
      }
    }
  }

  &__user {
    max-width: 1.5rem;

    @media (min-width: 62.5rem) {
      max-width: 3.13rem;
    }
  }
}
