.header {
  z-index: 99;
  position: relative;

  &__content {
    max-width: 73.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.19rem 1.5rem 22px 1.5rem;
    margin: 0 auto;

    border-bottom: 0.06rem solid var(--header-border-clr);

    @media (min-width: 62.5rem) {
      padding: 1.75rem 2.06rem 34px 2.06rem;
    }
  }

  &__group {
    display: flex;
    align-items: center;

    &--primary {
      gap: 1rem;
    }

    &--secondary {
      gap: 21px;
    }

    @media (min-width: 62.5rem) {
      &--primary {
        flex-direction: row-reverse;
        gap: 3.53rem;
      }

      &--secondary {
        gap: 1.44rem;
      }
    }
  }

  &__user-avatar {
    max-width: 1.5rem;

    @media (min-width: 62.5rem) {
      max-width: 3.13rem;
    }
  }
}
