.quantity-control {
  width: 100%;

  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;

  border-radius: 0.63rem;
  background: var(--quality-control-clr);

  &__button {
    display: grid;
    place-content: center;

    padding: 1.38rem 0.13rem 1.38rem 0.13rem;

    &-icon {
      fill: var(--primary-clr-three);

      @media (hover: hover) {
        &:is(:hover, :focus, :focus-visible) {
          fill: var(--primary-clr-three--hover);
          transform: scale(1.3);
          transition: 0.8s all;
        }
      }
    }

    @media (min-width: 62.5rem) {
      padding: 0;
    }
  }

  &__value {
    color: var(--primary-clr-two);
    text-align: center;
    font-size: var(--fs-16);
    font-weight: var(--fw-700);
    line-height: normal;
  }
}
