.cart__quantity {
  color: var(--neutral-clr-one);
  font-size: var(--fs-10);
  font-weight: var(--fw-700);
  line-height: normal;

  padding: 0.13rem 0.5rem 0.13rem 0.5rem;
  border-radius: 0.53rem;
  background: var(--primary-clr-three);
}
