.nav-button {
  z-index: 7;

  display: grid;
  gap: 0.19rem;

  background: transparent;
  cursor: pointer;

  @media (min-width: 62.5rem) {
    display: none;
  }

  &__line {
    display: block;
    width: 1rem;
    height: 0.19rem;

    background: var(--primary-clr-one);
    transition: transform 0.5s, opacity 0.25s;
  }
}

[aria-expanded="true"] .nav__toggle-line:nth-child(1) {
  transform: translateY(0.25rem) rotate(45deg);
}

[aria-expanded="true"] .nav__toggle-line:nth-child(2) {
  opacity: 0;
}

[aria-expanded="true"] .nav__toggle-line:nth-child(3) {
  transform: translateY(-0.5rem) rotate(-45deg);
}
